.div {

    display: inline-flex;
    text-align: justify;
    width: 100px;
    height: 100px;
    padding: 0px;
    margin: 5px;
    background-color: black;
    color: white;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.header-container{

    margin: 0;
    display: inline-block;
}
